h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
body {
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  background-size: auto;
  overflow-x: hidden;
}

a{
  font-weight: 700;
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Lato', sans-serif;
}
.black{
  font-size: 3rem;
  color: black;
}
.header{
  font-size: 3rem;
  color: #EEEEEE;
}

.title{
  font-size: 2rem;
  color: #A8D1D1;
  margin-left: 1rem;
  font-weight: 600;
}

.container-fluid{
  padding: 0;
}

.photo{
max-width: 100%;
height: 39rem;
}

@media only screen and (max-width:489px) {

  .header{
    font-size: 2rem;
    color: #EEEEEE;
  }

  .title{
    text-align: left;
    font-size: 1rem;
    color: #A8D1D1;
    margin-left: 1rem;
    font-weight: 600;
  }

}


/* NavigationBar */
.navbar {
  background-color: #404040;
}

.nav-link {
  color: #A8D1D1;
}

/* Entries */
#entries{
  margin-top: 4rem;
}

li {
  margin: 10px;
}

.pragraph-photos{

  max-width: 400px;
  max-height: 400px;
  float: right;
  margin: 5px 5px 5px 2rem;
  border-radius: 4px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pragraph-photos-left{

  max-width: 400px;
  max-height: 400px;
  float: left;
  margin: 5px 3rem 5px 5px;
  border-radius: 4px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden{
  display: none;
}

.prograph-footer{
  text-align: right;
  font-style: italic;
  font-size: 0,3rem;
  font-weight: 300;
}

/* Footer */
footer {
  background-color: #404040;
  margin: 5rem auto 0;
  bottom: 0;
  position: relative;
  text-align: center;
  height: 6rem;
  padding: 3rem;
}

footer p {
  color: #EEEEEE;
  font-size: 1rem;
  display: inline-block;
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) and (min-width: 490px) {
  .photo{
  max-width: 100%;
  height: 25rem;
  }
}

@media only screen and (max-width:489px) {
  .photo{
max-width: 100%;
height: 20rem;
}

.pragraph-photos{
  float: none;
  width: 90%;
}

.pragraph-photos-left{
  float: none;
  width: 90%;

}

}
